		<!-- Sidebar -->
		<div class="sidebar sidebar-style-2" data-background-color="dark2">	
			<div class="sidebar-wrapper scrollbar scrollbar-inner">
				<div class="sidebar-content">
				{% load user_tags %}
				{% if request.user.is_authenticated %}
					<div class="user">
						{% if "404" not in request.user.username %}
							<div class="avatar-lg float-left mr-2">
								<img src="{{ request.user.username|get_profile_picture }}" alt="..." class="avatar-img rounded-circle">
							</div>
							<div class="info">
								<a aria-expanded="true">
									<span>
										{{ request.user.username }}
										<span class="user-level">
											{{ request.user.email }}
										</span>
									</span>
								</a>
								<div class="clearfix"></div>

								<ul class="nav">
									<li>
										<a href="{% url 'profile' %}?username={{request.user.username}}">
											<span class="link-collapse">My Profile</span>
										</a>
									</li>
									<li>
										<a href="{% url 'logout' %}">
											<span class="link-collapse">Logout</span>
										</a>
									</li>
								</ul>
							</div>
						{% else %}
							<a href="{% url 'logout' %}">
								<button type="" class="btn btn-danger" >Logout</button>
							</a>
						{% endif %}
					</div>
					<ul class="nav nav-primary">
						{% if "404" not in request.user.username %}
							<li class="nav-section">
								<span class="sidebar-mini-icon">
									<i class="fa fa-ellipsis-h"></i>
								</span>
								<h4 class="text-section">Views</h4>
							</li>
							<li class="nav-item">
								<a href="{% url 'get_my_dealers' %}">
									<i class="fas fa-layer-group"></i>
									<p>My Dealers</p>
								</a>
							</li>
							<li class="nav-item">
								<a href="">
									<i class="fas fa-th-list"></i>
									<p>My Sales</p>
								</a>
							</li>
							<li class="nav-item">
								<a href="{% url 'all_products' %}">
									<i class="fas fa-map-marker-alt"></i>
									<p>All Products</p>
								</a>
							</li>
						{% else %}
							<li class="nav-section">
								<span class="sidebar-mini-icon">
									<i class="fa fa-ellipsis-h"></i>
								</span>
								<h4 class="text-section">My Functions</h4>
							</li>
							<li class="nav-item">
								<a href="{% url 'all_products' %}">
									<i class="fas fa-layer-group"></i>
									<p>Product Store</p>
								</a>
							</li>
							<li class="nav-item">
								<a href="{% url 'all_transactions' %}?username={{request.user.username}}">
									<i class="fas fa-th-list"></i>
									<p>My Orders</p>
								</a>
							</li>
						{% endif %}
					</ul>
				{% else %}
					<ul class="nav nav-primary">
						<li class="nav-item">
							<a href="{% url 'login' %}">
								<i class="fas fa-layer-group"></i>
								<p>Register/Login</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="{% url 'all_products' %}">
								<i class="fas fa-layer-group"></i>
								<p>Product Store</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="">
								<i class="fas fa-th-list"></i>
								<p>Contact Us</p>
							</a>
						</li>
					</ul>
				{% endif %}

				</div>
			</div>
		</div>
        <!-- End Sidebar -->
        