 {% extends "layouts/base.html" %}

{% block title %} Profile {% endblock title %}
 
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="page-inner">
        <div class="page-header">
            <h4 class="page-title">Profile</h4>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">

                            {% if msg %}
                                <span class="text-danger">{{ msg | safe }}</span>
                            {% else %}
                            <span>
                                Modify profile
                            </span>
                            {% endif %}

                        </div>
                    </div>

                    {% if data %}
                        <form method="post" action="">{% csrf_token %}
                            <input type="hidden" name="old_username" value="{{data.username}}">
                            <div class="card-body">
                                <div class="row">
                                {% for key,value in data.items%}
                                    <div class="col-md-6 col-lg-4">
                                        <div class="form-group form-inline">
                                            <label for="inlineinput" class="col-md-3 col-form-label">{{key.capitalize}}</label>
                                            <div class="col-md-9 p-0">
                                                {% if key == "authorized" %}
                                                    <select class="form-control" id="formGroupDefaultSelect" name="{{key}}" value="{{value}}">
                                                        <option {% if value == True %} selected {% endif%}>True</option>
                                                        <option {% if value == False %} selected {% endif%}>False</option>
                                                    </select>
                                                {% elif key == "position" %}
                                                    <select class="form-control" id="formGroupDefaultSelect" name="{{key}}" value="{{value}}">
                                                        <option {% if value == "director" %} selected {% endif%}>director</option>
                                                        <option {% if value == "asst-director" %} selected {% endif%}>asst-director</option>
                                                        <option {% if value == "hr-manager" %} selected {% endif%}>hr-manager</option>
                                                        <option {% if value == "hr-exec" %} selected {% endif%}>hr-exec</option>
                                                        <option {% if value == "hr-admin" %} selected {% endif%}>hr-admin</option>
                                                        <option {% if value == "busi-dev-exec" %} selected {% endif%}>busi-dev-exec</option>
                                                        <option {% if value == "sales-head" %} selected {% endif%}>sales-head</option>
                                                        <option {% if value == "reg-manager" %} selected {% endif%}>reg-manager</option>
                                                        <option {% if value == "state-manager" %} selected {% endif%}>state-manager</option>
                                                        <option {% if value == "area-manager" %} selected {% endif%}>area-manager</option>
                                                        <option {% if value == "tert-manager" %} selected {% endif%}>tert-manager</option>
                                                    </select>
                                                {% else %}
                                                    <input type="text" class="form-control" id="inlineinput" name="{{key}}" value="{{value}}">
                                                {% endif%}
                                                <span class="text-danger">{{ value.errors }}</span>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                </div>
                            </div>
                            <div class="card-action">
                                <button type="submit" class="btn btn-success">Update</button>
                            </div>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}
