{% extends "layouts/base.html" %}

{% block title %} Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
	<div class="content">
		<div class="page-inner">
			<div class="row">
				<div class="card">
					<div class="card-header">
						<div class="card-title">
							{% if msg %}
								<span class="text-danger">{{ msg | safe }}</span>
							{% elif not data %}
								<div class="page-category">
									<h2>Empty table</h2>
									<h3 class="font-weight-light">
										There is no data to be displayed.
									</h3>
								</div>
							{% else %}
								<span>
									Table
								</span>
							{% endif %}
						</div>
					</div>
					{% if data %}
						<div class="card-body">
							<table class="table table-hover">
								<thead>
									<tr>
										{% for header in headers %}
											<th scope="col">{{ header }}</th>
										{% endfor %}
									</tr>
								</thead>
								{% if type == "users" %}
									<tbody>
										{% for user in data %}
											<tr>
												<td>{{user.username}}</td>
												<td>{{user.first_name}}</td>
												<td>{{user.last_name}}</td>
												<td>{{user.email}}</td>
												<td>{{user.last_login}}</td>
												<td>
													<div class="form-button-action">
														{% if "404" not in user.username %}
															<button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit">
																<a href="{% url 'profile'%}?username={{user.username}}"> <i class="fa fa-edit"></i> </a>
															</button>
															<button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove">
																<a href="{% url 'remove_user'%}"> <i class="fa fa-times"></i> </a>
															</button>
														{% else %}
															<button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Go to dealers page">
																<a href="{% url 'all_dealers'%}"> Dealer Account </a>
															</button>
														{% endif %}
													</div>
												</td>
											</tr>
										{% endfor %}
									</tbody>
								{% elif type == "dealers" %}
									<tbody>
										{% for dealer in data %}
											<tr>
												<td>{{dealer.code}}</td>
												<td>{{dealer.first_name}}</td>
												<td>{{dealer.last_name}}</td>
												<td>{{dealer.firm_name}}</td>
												<td>{{dealer.contact}}</td>
												<td>{{dealer.managed_by}}</td>
												<td>{{dealer.authorized}}</td>
												<td>
													<div class="form-button-action">
														<button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Edit">
															<a href="{% url 'edit_dealer'%}?firm_name={{dealer.firm_name}}"> <i class="fa fa-edit"></i> </a>
														</button>
														<button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove">
															<a href="{% url 'remove_dealer'%}"> <i class="fa fa-times"></i> </a>
														</button>
													</div>
												</td>
											</tr>
										{% endfor %}
									</tbody>
								{% endif %}
							</table>
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

	<!-- Atlantis DEMO methods, don't include it in your project! -->
	<script src="/static/assets/js/setting-demo2.js"></script>
	<script>
		$('#displayNotif').on('click', function(){
			var placementFrom = $('#notify_placement_from option:selected').val();
			var placementAlign = $('#notify_placement_align option:selected').val();
			var state = $('#notify_state option:selected').val();
			var style = $('#notify_style option:selected').val();
			var content = {};

			content.message = 'Turning standard Bootstrap alerts into "notify" like notifications';
			content.title = 'Bootstrap notify';
			if (style == "withicon") {
				content.icon = 'fa fa-bell';
			} else {
				content.icon = 'none';
			}
			content.url = 'index.html';
			content.target = '_blank';

			$.notify(content,{
				type: state,
				placement: {
					from: placementFrom,
					align: placementAlign
				},
				time: 1000,
			});
		});
	</script>
	
{% endblock javascripts %}
