 {% extends "layouts/base.html" %}

{% block title %} Products {% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="page-inner">
        <div class="page-header">
            <h4 class="page-title"> Add product details</h4>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">

                            {% if msg %}
                                <span class="text-danger">{{ msg | safe }}</span>
                            {% else %}
                                <span> 
                                    Add Product
                                </span>
                            {% endif %}

                        </div>
                    </div>

                    <form method="post" action="">
                        {% csrf_token %}

                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 col-lg-4">
                                    <div class="form-group form-inline">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <label for="inlineinput" class="col-md-5 col-form-label">Product Type</label>
                                                <select class="form-control" id="formGroupDefaultSelect" name="type">
                                                    <option>Bio Products</option>
                                                    <option>Seeds</option>
                                                    <option>Pesticides</option>
                                                    <option>Water Soluble</option>
                                                    <option>Agri Equipments</option>
                                                    <option>Farming Consulting</option>
                                                </select>
                                            </div>
                                            <div class="input-group-prepend">
                                                <label for="inlineinput" class="col-md-5 col-form-label">Product Name</label>
                                                <input type="text" class="form-control" name="name">
                                            </div>
                                            <div class="input-group-prepend">
                                                <label for="inlineinput" class="col-md-5 col-form-label">Product Price</label>
                                                <input type="text" class="form-control" name="price">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-action">
                            <button type="submit" class="btn btn-success">
                                Add
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}
