 {% extends "layouts/base.html" %}

{% block title %} Products {% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="page-inner">
        <div class="page-header">
            <h4 class="page-title"> Add product details</h4>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">

                            {% if msg %}
                                <span class="text-danger">{{ msg | safe }}</span>
                            {% else %}
                                <span> 
                                    Add Product
                                </span>
                            {% endif %}

                        </div>
                    </div>

                    <form method="post" action="">
                        {% csrf_token %}
                        {% if product %}
                            <input type="hidden" name="id" value="{{product.id}}">
                        {% endif %}

                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 col-lg-4">
                                    <div class="form-group form-inline">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <label for="inlineinput" class="col-md-5 col-form-label">Product Type</label>
                                                <select class="form-control" id="formGroupDefaultSelect" name="type">
                                                    <option {% if product.type == "Bio Products" %} selected {% endif %}>Bio Products</option>
                                                    <option {% if product.type == "Seeds" %} selected {% endif %}>Seeds</option>
                                                    <option {% if product.type == "Pesticides" %} selected {% endif %}>Pesticides</option>
                                                    <option {% if product.type == "Water Soluble" %} selected {% endif %}>Water Soluble</option>
                                                    <option {% if product.type == "Agri Equipments" %} selected {% endif %}>Agri Equipments</option>
                                                    <option {% if product.type == "Farming Consulting" %} selected {% endif %}>Farming Consulting</option>
                                                </select>
                                            </div>
                                            <div class="input-group-prepend">
                                                <label for="inlineinput" class="col-md-5 col-form-label">Product Name</label>
                                                <input type="text" class="form-control" name="name" value="{% if product %} {{product.name}} {% endif %}">
                                            </div>
                                            <div class="input-group-prepend">
                                                <label for="inlineinput" class="col-md-5 col-form-label">Product Price</label>
                                                <input type="text" class="form-control" name="price" value="{% if product %} {{product.price}} {% endif %}">
                                            </div>
                                            <div class="input-group-prepend">
                                                <label for="inlineinput" class="col-md-5 col-form-label">UOM</label>
                                                <select class="form-control" id="formGroupDefaultSelect" name="uom">
                                                    <option {% if product.type == "bags" %} selected {% endif %}>bags</option>
                                                    <option {% if product.type == "items" %} selected {% endif %}>items</option>
                                                    <option {% if product.type == "kgs" %} selected {% endif %}>kgs</option>
                                                    <option {% if product.type == "N/A" %} selected {% endif %}>N/A</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-action">
                            <button type="submit" class="btn btn-success">
                                {% if product %} Modify {% else %} Add {% endif %}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}
