{% extends "layouts/base.html" %}

{% block title %} Products {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
	<div class="content">
		<div class="page-inner">
			<div class="row">
				<div class="card">
					<div class="card-header">
						<div class="card-title">
                            {% if msg %}
                                <span class="text-danger">{{ msg | safe }}</span>
                            {% else %}
								{% if is_staff %}
								<span>All Products</span>
								{% else %}
									{% if request.user.is_authenticated %}
										<span>Please check and confirm the order</span>
									{% else %}
										<span>Please contact the sales manager to know more</span>
									{% endif %}
								{% endif %}
                            {% endif %}

						</div>
					</div>
					{% if objects %}
						<div class="card-body">
							<table class="table table-hover">
								<tbody>
									<form method="post" action="">
										{% csrf_token %}
										{% for product in objects %}
											<tr>
												<td>{{ product.type }}</td>
												<td>{{ product.name }}</td>
												<td>{{ product.price }}</td>
												<td> Product Info </td>
												<td> pictureLink </td>
												<td>
													{% if request.user.is_authenticated and not is_staff %}
														<div class="col-md-6 p-0">
															<input type="number" min="0" class="form-control" name="quantity{{product.id}}" value="0">
														</div>
													{% endif %}
												</td>
												{% if is_staff %}
													<td>
														<div class="form-button-action">
															<button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Edit">
																<a href="{% url 'edit_product'%}?product_id={{product.id}}"> <i class="fa fa-edit"></i> </a>
															</button>
															<button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove">
																<a href="{% url 'remove_product'%}?product_id={{product.id}}"> <i class="fa fa-times"></i> </a>
															</button>
														</div>
													</td>
												{% endif %}
											</tr>
										{% endfor %}
										{% if request.user.is_authenticated and not is_staff %}
											<button type="submit" class="btn btn-success">Checkout</button>
										{% endif %}
									</form>
								</tbody>
							</table>
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
