{% extends "layouts/base.html" %}

{% block title %} Profiles {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
	<div class="content">
		<div class="page-inner">
			<div class="row">
				<div class="card">
					<div class="card-header">
						<div class="card-title">
							{% if msg %}
								<span class="text-danger">{{ msg | safe }}</span>
							{% elif not objects %}
								<div class="page-category">
									<h2>Empty table</h2>
									<h3 class="font-weight-light">
										There is no data to be displayed.
									</h3>
								</div>
							{% else %}
								<span>
									Add items to the cart
								</span>
							{% endif %}
						</div>
					</div>
					{% if objects %}
						<div class="card-body">
							<table class="table table-hover">
								<tbody>
									<form method="post" action="">
										{% csrf_token %}

										{% for product in objects %}
											<tr>
												<td>{{ product.type }}</td>
												<td>{{ product.name }}</td>
												<td>{{ product.price }}</td>
												<td> Product Info </td>
												<td> pictureLink </td>
												<td>
													<div class="col-md-6 p-0">
														<input type="number" min="0" class="form-control" name="quantity{{product.id}}" value="0">
													</div>
												</td>
											</tr>
										{% endfor %}
										<button type="submit" class="btn btn-success">Checkout</button>
									</form>
								</tbody>
							</table>
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
