 {% extends "layouts/base.html" %}

{% block title %} Register Dealer {% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="page-inner">
        <div class="page-header">
            <h4 class="page-title">{% if type == "register" %}Register {% else %} Edit {% endif %} Dealer</h4>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">

                            {% if msg %}
                                <span class="text-danger">{{ msg | safe }}</span>
                            {% else %}
                                <span> 
                                    {% if type == "register" %} Register {% else %} Edit {% endif %} dealer details 
                                </span>
                            {% endif %}

                        </div>
                    </div>

                    {% if data %}
                        {% load formatter %}
                        <form method="post" action="">
                            {% csrf_token %}

                            <div class="card-body">
                                <div class="row">
                                    {% for name, value in data %}
                                        <div class="col-md-6 col-lg-4">
                                            <div class="form-group form-inline">
                                                <div class="col-md-9 p-0">
                                                    {% if name == "authorized" or name == "agreement_done" or name == "gift_sent" %}
                                                        <label for="formGroupDefaultSelect" class="col-md-5 col-form-label">{{name|format_label}}</label>
                                                        <select class="form-control" id="formGroupDefaultSelect" name="{{name}}" value="{{value}}">
                                                            <option {% if value == False %} selected {% endif%}>False</option>
                                                            <option {% if value == True %} selected {% endif%}>True</option>
                                                        </select>
                                                    {% elif name == "pd_open_date" or name == "SD_receipt_date" %}
                                                        <label for="inlineinput" class="col-md-11 col-form-label">{{name|format_label}}</label>
                                                        <input type="date" class="form-control" id="{{name}}" name="{{name}}" value="{{value|date:'Y-m-d'}}">
                                                    {% else %}
                                                        <label for="inlineinput" class="col-md-11 col-form-label">{{name|format_label}}</label>
                                                        {% if type == "edit" and name == "firm_name" %}
                                                            <input type="hidden" name="old_firm_name" value="{{value}}">
                                                        {% endif %}
                                                        <input {% if name == "firm_name" %}required{% endif%} type="text" class="form-control" id="inlineinput" name="{{name}}" value="{{value}}">
                                                    {% endif%}
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="card-action">
                                <button type="submit" class="btn btn-success">
                                    {% if type == "register" %} Create {% else %} Update {% endif %}
                                </button>
                            </div>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}
