 {% extends "layouts/base.html" %}

{% block title %} Register Dealer {% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="page-inner">
        <div class="page-header">
            <h4 class="page-title">Register Dealer</h4>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">

                            {% if msg %}
                                <span class="text-danger">{{ msg | safe }}</span>
                            {% else %}
                                <span>
                                    Enter dealer details
                                </span>
                            {% endif %}

                        </div>
                    </div>
                    {% if data %}
                        {% load label_formatter %}
                        <form method="post" action="">
                            {% csrf_token %}
                            <div class="card-body">
                                <div class="row">
                                    {% for key, value in data %}
                                    
                                        <div class="col-md-6 col-lg-4">
                                            <div class="form-group form-inline">
                                                <div class="col-md-9 p-0">
                                                    {% if key == "authorized" or key == "agreement_done" or key == "gift_sent" %}
                                                        <label for="formGroupDefaultSelect" class="col-md-5 col-form-label">{{key|format_label}}</label>
                                                        <select class="form-control" id="formGroupDefaultSelect" name="{{key}}" value="{{value}}">
                                                            <option {% if value == True %} selected {% endif%}>True</option>
                                                            <option {% if value == False %} selected {% endif%}>False</option>
                                                        </select>
                                                    {% else %}
                                                        <label for="inlineinput" class="col-md-11 col-form-label">{{key|format_label}}</label>
                                                        <input {% if key == "firm_name" %}required{% endif%} type="text" class="form-control" id="inlineinput" name="{{key}}" value="{{value}}">
                                                    {% endif%}
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="card-action">
                                <button type="submit" class="btn btn-success">Update</button>
                            </div>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}
